
body{
  height: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin-top: 40px;
}

.jumbotron {
 margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  color: black;
}

.navbar {
  display: inline-block;
  width: 100%;
  
}

/* input */
.mb-3 {
  margin: auto;
  width: 80%;
  margin-bottom: -0rem !important;
}

.main-body {
  margin-top: 40px;
}

.section {
  margin-bottom: 10px;
}

.message {
  min-height: 20px;
  margin: 10px;
}
.message p {
 font-size: 20px;
 margin: 0;
}

.card-title {
  margin: 0;
  height: 34px;
}

.add {
  padding: 20px;
}

form {
  margin: auto;
}

input.form-control {
  height: 34px;
}

button.btn.btn-outline-secondary {
  height: 34px;
}

.modal-header {
  padding: 8px 10px;
}


.footer-text {
  margin: 0;
}