/*Main App*/

body{
  height: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Droid Serif', sans-serif;
  background-color: black;
}

.main-content {
  margin-bottom: 90px;
}

.jumbotron {
  margin-bottom: 30px;
  padding-bottom: 0;
  background-color: #8cd9c6;
}

.iex {
  margin: 0;
  padding: 6px 0 6px 0;
}

.main-body {
  margin-top: 40px;
}

.message {
  min-height: 30px;
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 6px;
}

.message p {
 font-size: 20px;
 margin: 0;
}

/*Header*/
nav {
  background-color: #8cd9c6;
  height: 64px;
  width: 100%;
}

.navbar {
  display: inline-block;
 
}
.navbar-brand {
  color: black;
  font-size: 1.6rem;
}


/*Cards*/
.card-symbol, .input-title {
  font-size: 1.2rem;
}

.card-title {
  margin: 0;
  height: 34px;
}
.modal-header {
  background-color: #8cd9c6;
}
.card-body {
  background-color: white;
}
.section {
  margin: 10px auto 10px auto;
}

.mb-3 {
  margin: auto;
  width: 80%;
  margin-bottom: -0rem !important;
}

/*Input*/

form {
  margin: auto;
}

input.form-control {
  height: 34px;
}

button.btn.btn-outline-secondary {
  height: 34px;
}

.modal-header {
  padding: 8px 10px;
}

/*Footer*/

.footer {
  width: 100%;
  background-color: #8cd9c6;
  color: black;
  padding: 10px;
}

.footer-text {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.github {
  height: 20px;
  margin: 0 24px;
}

